:root {
  --color-black: #000;
  --color-white: #fff;
  --spacing: .25rem;
  --container-xl: 36rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --text-xs: .75rem;
  --text-xs--line-height: calc(1 / .75);
  --text-sm: .875rem;
  --text-sm--line-height: calc(1.25 / .875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --tracking-widest: .1em;
  --radius-sm: .25rem;
  --radius-md: .375rem;
  --radius-lg: .5rem;
  --radius-xl: .75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --ease-out: cubic-bezier(0, 0, .2, 1);
  --ease-in-out: cubic-bezier(.4, 0, .2, 1);
  --animate-spin: spin 1s linear infinite;
  --blur-md: 12px;
  --blur-lg: 16px;
  --default-transition-duration: .15s;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --default-font-family: var(--font-inter);
  --default-mono-font-family: var(--font-geist-mono);

  --color-red-600: lab(48.4493% 77.4328 61.5452);
  --color-gray-100: lab(96.1596% -.0823438 -1.13575);
  --color-gray-200: lab(91.6229% -.159115 -2.26791);
  --color-gray-600: lab(35.6337% -1.58697 -10.8425);
  --color-gray-800: lab(16.1051% -1.18239 -11.7533);


  --twoslash-border-color: #dbdfde;
  --twoslash-underline-color: currentColor;
  --twoslash-popup-bg: #f3f7f6;
  --twoslash-popup-color: inherit;
  --twoslash-popup-shadow: rgba(0, 0, 0, .08) 0px 1px 4px;
  --twoslash-code-font: inherit;
  --twoslash-code-font-size: 1em;
  --twoslash-matched-color: inherit;
  --twoslash-highlighted-border: rgba(195, 125, 13, .314);
  --twoslash-highlighted-bg: rgba(195, 125, 13, .125);
  --twoslash-unmatched-color: #888;
  --twoslash-cursor-color: rgba(136, 136, 136, .533);
  --twoslash-error-color: #d45656;
  --twoslash-error-bg: rgba(212, 86, 86, .125);
  --twoslash-warn-color: #c37d0d;
  --twoslash-warn-bg: rgba(195, 125, 13, .125);
  --twoslash-tag-color: #3772cf;
  --twoslash-tag-bg: rgba(55, 114, 207, .125);
  --twoslash-tag-warn-color: var(--twoslash-warn-color);
  --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
  --twoslash-tag-annotate-color: #1ba673;
  --twoslash-tag-annotate-bg: rgba(27, 166, 115, .125);
  --twoslash-text-size: .8rem;
  --twoslash-docs-tag-style: italic;

  --color-background-main: lab(100% 0 0);
  --color-background-soft: lab(100% 0 0 / .05);
  --color-background-invert: lab(2.42579% -.165291 -.470081);
  --color-text-main: lab(100% 0 0);
  --color-text-invert: lab(100% 0 0);
  --color-text-soft: lab(2.42579% -.165291 -.470081 / .8);
  --color-text-sub: lab(2.42579% -.165291 -.470081 / .6);
  --color-muted: lab(2.42579% -.165291 -.470081 / .5);
  --color-border-sub: lab(2.42579% -.165291 -.470081 / .07);

  --color-border-surface: lab(2.42579% -.165291 -.470081 / .05);
  --color-border-soft: lab(2.42579% -.165291 -.470081 / .15);
  --color-brand: lab(51.3415% -41.5657 15.3527);
  --color-brand-light: lab(51.3415% -41.5657 15.3527);
  --color-border-solid: lab(2.42579% -.165291 -.470081);
  --color-muted-invert: lab(100% 0 0 / .5);

  --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
  --tw-translate-y: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: inter;
  src: url(./Assets/Font/Inter-VariableFont_opsz,wght.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url(./Assets/Font/GeistMono-VariableFont_wght.ttf) format("woff2");
  font-display: swap;
}




body {
  /* background-color: var(--color-background-main); */

  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;

}





.site-header {
  position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
  left: calc(var(--spacing) * 0);
  right: calc(var(--spacing) * 0);
  top: calc(var(--spacing) * 0);
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 4);


  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.header-spacer {
  height: 52px;
}

.container-header {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  column-gap: calc(var(--spacing) * 8);
  align-items: center;
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav-content-left {
  display: flex;
  align-items: center;
  column-gap: calc(var(--spacing) * 42);

}

.mintlify-logo {
  display: inline-flex;
  height: 22px;
  width: 100px;
}

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  max-width: max-content;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.ul {
  list-style: none;
}

.nav-menu {
  display: flex;
  flex: 1;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1);

}

.menu-item-name {
  text-decoration: none;
  display: inline-flex;
  height: calc(var(--spacing) * 8);
  width: max-content;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 3.40282e38px;
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1);
  font-size: 15px;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-text-main);
  outline-offset: 2px;
  transition-property: background-color;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-duration: .3s;

}

.menu-item-name:hover {
  background-color: rgba(211, 211, 211, 0.072);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.nav-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: calc(var(--spacing) * 2);
}

.btn {
  display: inline-flex;
  height: fit-content;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1.5);
  border-radius: 3.40282e38px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  background-color: var(--color-background-soft);
  animation-duration: .1s;
  transition-duration: .1s;
  transition-property: color, background-color;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  outline-offset: 2px;
  color: var(--color-text-main);
  white-space: nowrap;
  font-weight: 400;
  font-size: 17px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-inline: calc(var(--spacing) * 3);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-text-main);
  border-color: var(--color-brand);
  color: lab(2.42579% -.165291 -.470081);
}

.btn:hover {
  background-color: #b7bab9;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.hero {
  position: relative;
  isolation: isolate;

}

.top-bg {

  background:
    url("./Assets/mintlify.svg") no-repeat bottom center,
    linear-gradient(180deg, #0b4f6c, #083c52);

  background-size: cover;
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10rem;
  -webkit-mask-image: linear-gradient(to bottom,
      black 70%,
      transparent 100%);
  mask-image: linear-gradient(to bottom,
      black 70%,
      transparent 100%);
}


.updates {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  white-space: nowrap;
  background-color: var(--color-border-soft);
  border-radius: 9999px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  cursor: pointer;
  text-decoration: none;
  color: var(--color-white);
}


.updates p {
  margin: 0;
  line-height: 1.2;
}

.new {
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  padding-block: calc(var(--spacing) * .5);
  padding-inline: calc(var(--spacing) * 2);
  background-color: var(--color-brand-light);
  border-radius: 60px;
  font-size: var(--text-xs);
  line-height: 150%;
}

.info {
  font-size: var(--text-sm);
  line-height: 150%;
  color: var(--color-white);
  white-space: nowrap;
  font-weight: 500;
  font-size: var(--text-xs);
  line-height: 150%;

}


.svg-icon {
  width: 16px;
  height: 16px;
  color: var(--color-white);
}

.hero {
  position: relative;
  isolation: isolate;

}

.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 6.5rem;
  padding-bottom: calc(var(--spacing) * 24);
}

.hero-title {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.title {
  letter-spacing: -.02em;
  font-size: max(2.5rem, min(4vw, 4rem));
  color: lab(100% 0 0);
  text-wrap: balance;
  font-weight: 600;
  line-height: 115%;
  max-width: 43rem;
  width: 100%;
}

.subtitle {
  margin-top: calc(var(--spacing) * 6);
  max-width: 29.5rem;
  color: lab(100% 0 0);
  font-size: var(--text-lg);
  line-height: 150%;

}

.email-form {
  margin-top: calc(var(--spacing) * 8);
  display: flex;
  width: 100%;
  max-width: 22.5rem;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
  border-radius: 3.40282e38px;
  border-style: solid;
  border-width: 1px;
  border-color: lab(100% 0 0/.15);

  background-color: lab(100% 0 0/.15);
  padding: calc(var(--spacing) * 1);
}


.email-input {
  height: calc(var(--spacing) * 8);
  width: 100%;
  padding-inline: calc(var(--spacing) * 3);
  font-size: 15px;
  line-height: 150%;
  font-weight: 500;
  color: white;
  outline-style: none;
  border-radius: 3.40282e38px;
  background-color: transparent;
}

.email-input::placeholder {
  color: #ffffff;
}


.email-btn {
  display: inline-flex;
  height: fit-content;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1.5);
  border-radius: 3.40282e38px;
  border-width: 1px;
  border-style: solid;
  border-color: lab(100% 0 0);
  border-color: lab(100% 0 0);
  padding-inline: calc(var(--spacing) * 3);
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  font-size: 15px;
  font-weight: 500;
  color: lab(2.42579% -.165291 -.470081);
  outline-offset: 2px;
}

.email-btn:hover {
  background-color: #b7bab9;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.hero-img {
  margin-top: 3.5rem;

  display: flex;
  justify-content: center;

  width: 100%;
  pointer-events: none;
  /* decorative */
}

.hero-image {
  width: 100%;
  max-width: 900px;
  /* ⬅ controls size */
  height: auto;
  display: block;

  border-radius: 12px;

  box-shadow:
    0 40px 80px rgba(0, 0, 0, 0.25),
    0 10px 30px rgba(0, 0, 0, 0.15);

}

.trusted-by {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: calc(var(--spacing) * 8);
  padding-top: calc(var(--spacing) * 18);

  padding-bottom: calc(var(--spacing) * 36);
}



.companies {
  text-decoration: none;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  display: grid;
  max-width: 64rem;
  width: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  row-gap: calc(var(--spacing) * 7);
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  /* visual row height */
  max-width: 120px;
  /* prevents oversized logos */
}

.company-logo {
  max-height: 40px;
  /* KEY: Mintlify uses ~18–20px */
  max-width: 140px;
  width: auto;
  height: auto;

  object-fit: contain;



}

.feature-section {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #08090a;
}

.feature-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 24px;
  width: 100%;
  max-width: 60vw;

}

.feature-header h2 {
  margin: 0;
  font-size: 30px;
}

.feature-header p {
  margin: 0;
  font-size: 13px;
  color: #474747;
}

.feature-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60vw;
  gap: 18px;
  border-radius: 16px;
}

.feature-card {
  display: flex;
  border: 1px solid #a7a7a73f;
  width: 400px;
  height: 400px;
  padding: 4px;
  border-radius: 20px;
}

.feature-card-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;

}

.feature-card-items {
  padding: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}


.animation-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: px;
}

.feature-card-items span {
  font-family: GeistMono;
  font-size: 10px;
  font-weight: 500;
  color: #0C8C5E;
}

.feature-card-items h3 {
  margin: 0;
  font-weight: 500;
}

.feature-card-items p {
  margin: 0;
  font-size: 13px;
  text-align: start;
  color: #5f5f5f;
  font-weight: 500;
  line-height: 1.6;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.big-feature-card {
  display: flex;
  border: 1px solid #a7a7a73f;
  width: 100%;
  padding: 4px;
  border-radius: 20px;
}


.big-feature-card-items {
  padding: 48px 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}


.big-feature-card-items span {
  font-family: GeistMono;
  font-size: 11px;
  font-weight: 500;
  color: #0C8C5E;
}

.big-feature-card-items h3 {
  margin: 0;
  font-weight: 500;
}

.big-feature-card-items p {
  margin: 0;
  font-size: 13px;
  text-align: start;
  color: #5f5f5f;
  font-weight: 500;
  line-height: 1.6;
}


.enterprise-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 96px 0px;
  justify-content: center;
  align-items: center;
  color: #08090a;

}

.enterprise-section-content {
  margin-bottom: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 55vw;
  align-items: center;
  gap: 40px;


}

.enterprise-section-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.enterprise-section-item span {
  font-family: GeistMono;
  font-size: 11px;
  font-weight: 500;
  color: #0C8C5E;
}

.enterprise-section-item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
}

.enterprise-section-item p {
  margin: 0;
  font-size: 16px;
  color: #555454;
}


.explore-btn {
  margin-top: 100px;

}

.explore-btn button {
  padding: 14px 24px;
  border: none;
  border-radius: 50px;
  background-color: #000;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: Inter;
}


.enterprise-card {
  width: 100%;
  margin: 0 auto;
  max-width: 55vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
}


.enterprise-card-1 {
  width: 1084px;
  height: 226px;
}

.enterprise-img img {
  width: 70rem;
  height: 30rem;

}

.enterprise-card-1 span svg {
  width: 32px;
  height: 32px;
}

.enterprise-card-1 h4 {
  font-size: 22px;
  font-weight: 600;
}

.enterprise-card-1 p {
  margin: 0;
  font-size: 16px;
  color: #555454;
  line-height: 1.4;
}


.enterprise-card-2 {
  width: 1024px;
  height: 226px;
}

.enterprise-img-container {
  width: 100%;
  max-width: 55vw;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: start;
  color: floralwhite;
  gap: 40px;


}

.enterprise-img {
  /* width: 100%; */
  /* max-width: 55vw; */
  /* margin: 0 auto; */
  padding: 64px;

}

#customer-story {
  margin: 0;
  font-family: GeistMono;
  font-size: 13px;
  font-weight: 700;
}

#customer-story-tag {
  margin-bottom: 0;
  font-size: 24px;
}



#story {
  display: flex;
  gap: 8px;
  margin-top: 32px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}


.people-count-container {
  display: flex;
  margin: 180px 0px 0px;
  gap: 30px
}

#people-count,
#people-serviced {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#people-count-p,
#serviced-count-p {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}

#monthly-active,
#product-service {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #b3b3b3;
}



.enterprise-img img {
  border-radius: 24px;
  object-fit: cover;
  width: 100%;
  /* height: 100%; */
  max-width: 55vw;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

}


.enterprise-company-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px
}

.logo-1 {
  width: 140px;
}


.customer-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.customer-section-item {
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  justify-content: center;
  align-items: center;
  gap: 24px
}

#customer-p {
  color: #0C8C5E;
  font-family: GeistMono;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}

.customer-section-item h2 {
  margin: 0;
  color: #08090a;
  font-size: 40px;
  font-weight: 600;
}

.industry-description {
  margin: 0;
  color: #08090a;
  text-align: center;
  line-height: 1.4;
}


.company-story {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 24px;

}

.company-story-card {

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 18px;
  margin: 0 auto;
}

.company-story-card img {
  width: 394px;
  height: 290px;
  border-radius: 18px;
  object-fit: cover;
}

.company-story-card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 394px;
}

.company-story-card p {
  color: #474747;
  line-height: 1.4;
}

#read-story {
  display: flex;
  color: #000;
  gap: 10px
}

.svg-align {
  position: relative;
}

.svg-align svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 45px;

}

.direction {
  margin-top: 100px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.direction span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: #08090a;
  padding: 10px;
  border-radius: 50px;
}


.cta-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 96px 0px;
  justify-content: center;
  align-items: center;
  color: #08090a;
  border-bottom: 1px solid #e7e7e7;
}

.cta-section-content {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  max-width: 55vw;
  align-items: center;



}

.cta-section-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;

}


.cta-section-item span {
  font-family: GeistMono;
  font-size: 11px;
  font-weight: 500;
  color: #0C8C5E;
}

.cta-section-item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.cta-section-item p {
  margin: 0;
  font-size: 16px;
  color: #0f0f0f;
}

.cta-btn {
  margin-top: 80px;
  display: flex;
  gap: 10px;
}

#btn-1 {
  padding: 10px 24px;
  border: none;
  border-radius: 50px;
  background-color: #000;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: Inter;
}

#btn-2 {
  padding: 14px 24px;
  border: 1px solid #dadada;
  border-radius: 50px;
  background-color: #ffffff;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  font-family: Inter;
}

.footer-section {
  margin: 0 auto;
  margin: 0px 0px 0px;
  padding: 0 20px;
 
}



.brandlogo-footer {
   width: 100%;
  background-color: var(--color-background-soft);
  border-color: var(--color-border-surface);
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
  width: 100%;
  max-width: 55vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 32px 24px;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;


}


.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 55%;
  margin: 0 auto;
  padding: 25px;
  margin-bottom: 60px;
  border: 1px solid #e7e7e7;
}

.footer-container-item {
  display: flex;
  flex-direction: column;
}

.footer-container-item h3 {
  font-size: 14px;

  color: #9a9996;
  margin: 0px;
}

.footer-container-item ul {
  font-size: 14px;
  list-style: none;
  padding: 0px;
  margin: 10px 0px 0px 0px;
}

.footer-container-item ul li {
  margin-bottom: 8px;
  color: #edecec;
  cursor: pointer;
  padding: 5px 0px;
}

.footer-note {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 100px;
}

.footer-note-item {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #9a9996;
}

#soc:hover {
  color: #edecec;
}

.footer-buttons {
  display: flex;
  gap: 2px;
  box-shadow: none;
}

.footer-social {
  display: flex;
  gap: 14px
}


.footer-container-item ul li {
  margin-bottom: 8px;
  color: #000000;
  cursor: pointer;
  padding: 5px 0px;
  font-weight: 600;
  line-height: 1.8;
}